.result {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.team{
    display: flex;
    border: 5px double #fff;
    border-radius: 10px;
}

.pokemon{
    display: block;
    margin: 50px;
    border: 1px solid #7575b0;
    border-radius: 10px;
}